@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 120px;
  font-family: "Poppins";
  position: fixed;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  z-index: 99999;
}
header.shrink {
  height: 80px;
  background-color: white;
}
body.dark header.shrink {
  background-color: black;
}
header nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header nav img {
  width: 40px;
  height: 36px;
}
header nav h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  color: #173A56;
  font-size: 30px;
  font-weight: 700;
}
body.dark header nav h1 {
  color: white;
}
header nav #openNav {
  font-size: 32px;
  display: none;
  color: #173A56;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
body.dark header nav #openNav {
  color: white;
}
header nav #openNav i {
  transform: rotate3d(0, 1, 0, 180deg);
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
}
@media (max-width: 900px) {
  header nav #openNav {
    display: flex;
  }
}
header nav .nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header nav .nav__menu #closeNav {
  font-size: 38px;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #173A56;
  display: none;
}
body.dark header nav .nav__menu #closeNav {
  color: white;
}
@media (max-width: 900px) {
  header nav .nav__menu #closeNav {
    display: flex;
  }
}
header nav .nav__menu__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
header nav .nav__menu__buttons button {
  width: 102px;
  height: 43px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
header nav .nav__menu__buttons button:nth-child(1) {
  background-color: transparent;
  border: 1px solid #BCD0E5;
  color: black;
}
body.dark header nav .nav__menu__buttons button:nth-child(1) {
  color: white;
}
header nav .nav__menu__buttons button:nth-child(2) {
  background-color: #02897A;
  border: none;
  color: white;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
}
header nav .nav__menu__buttons button:nth-child(2):hover {
  background-color: transparent;
  border: 1px solid #02897A;
  color: #02897A;
}
header nav .nav__menu__buttons button:nth-child(3) {
  background-color: #F3F3F3;
  border: none;
  width: 32px;
  height: 32px;
  font-size: 23px;
  color: #02897A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header nav .nav__menu li {
  float: left;
  margin: 0.5rem;
}
header nav .nav__menu li a {
  color: #22343D;
  font-size: 16px;
  font-weight: 500;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
}
body.dark header nav .nav__menu li a {
  color: white;
}
header nav .nav__menu li a:hover {
  font-weight: 600;
}
@media (max-width: 900px) {
  header nav .nav__menu {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    top: -100%;
    left: 0;
    gap: 1rem;
    flex-direction: column;
    z-index: 9;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
  }
  body.dark header nav .nav__menu {
    background-color: black;
    color: white;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Poppins";
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 5rem;
  padding-bottom: 7rem;
}
body.dark .hero {
  background-color: black;
}
@media (max-width: 900px) {
  .hero {
    padding-top: 1rem;
  }
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 120px;
}
@media (max-width: 900px) {
  .hero__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
  }
}
.hero__wrapper-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 45%;
  gap: 1.5rem;
}
@media (max-width: 900px) {
  .hero__wrapper-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
.hero__wrapper-content h1 {
  font-size: 40px;
  max-width: 400px;
  font-weight: 700;
  line-height: 60px;
}
body.dark .hero__wrapper-content h1 {
  color: white;
}
.hero__wrapper-content p {
  max-width: 450px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
body.dark .hero__wrapper-content p {
  color: white;
}
.hero__wrapper-content__buttons {
  margin-top: 3rem;
}
.hero__wrapper-content__buttons button {
  width: 175px;
  height: 53px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.hero__wrapper-content__buttons button:first-child {
  background-color: #02897A;
  font-weight: 700;
  color: white;
}
.hero__wrapper-content__buttons button:last-child {
  background-color: transparent;
  border: none;
  gap: 10px;
}
.hero__wrapper-content__buttons button:last-child a {
  color: #02897A;
  font-weight: 600;
  text-decoration: underline;
}
.hero__wrapper-photo {
  width: 45%;
}
.hero__wrapper-photo img {
  width: 100%;
}
@media (max-width: 900px) {
  .hero__wrapper-photo {
    width: 100%;
  }
}

.product {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-image: url("../images/Bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body.dark .product {
  background-color: black;
  background-image: none;
}
.product__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.product__wrapper button {
  text-transform: uppercase;
  margin-top: 3rem;
  width: 175px;
  height: 53px;
  background-color: #02897A;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.product__wrapper button:hover {
  background-color: transparent;
  color: #02897A;
  border: 2px solid #02897A;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
}
.product__wrapper-text {
  font-size: 32px;
  font-weight: 700;
  max-width: 530px;
  text-align: center;
}
body.dark .product__wrapper-text {
  color: white;
}
.product__wrapper-products {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}
.product__wrapper-products-card {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: calc(25% - 2em);
  gap: 1rem;
  min-width: 250px;
  flex-grow: 1;
}
body.dark .product__wrapper-products-card {
  color: white;
}
.product__wrapper-products-card h5 {
  font-size: 22px;
  font-weight: 600;
}
body.dark .product__wrapper-products-card h5 {
  color: white;
}
.product__wrapper-products-card p {
  font-size: 16px;
  font-size: 400;
  line-height: 26px;
}
body.dark .product__wrapper-products-card p {
  color: white;
}
.product__wrapper-products-card div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 24px;
  color: white;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
  background-color: red;
}
.product__wrapper-products-card:nth-child(1) div {
  background-color: #02897A;
}
.product__wrapper-products-card:nth-child(2) div {
  background-color: #4D8DFF;
}
.product__wrapper-products-card:nth-child(3) div {
  background-color: #740A76;
}
.product__wrapper-products-card:nth-child(4) div {
  background-color: #F03E3D;
}

.management {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
body.dark .management {
  background-color: black;
}
@media (max-width: 900px) {
  .management {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.management__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 900px) {
  .management__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
}
.management__wrapper-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 45%;
  gap: 1.5rem;
}
body.dark .management__wrapper-text {
  color: white;
}
@media (max-width: 900px) {
  .management__wrapper-text {
    width: 100%;
  }
}
.management__wrapper-text h5 {
  font-size: 16px;
  font-weight: 600;
}
.management__wrapper-text h1 {
  font-size: 32px;
  font-weight: 700;
}
.management__wrapper-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.management__wrapper-text p b {
  font-weight: 600;
}
.management__wrapper-text p {
  max-width: 486px;
}
.management__wrapper-photo {
  width: 45%;
}
@media (max-width: 900px) {
  .management__wrapper-photo {
    width: 50%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.management__wrapper-photo img {
  width: 100%;
}

.customer {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
body.dark .customer {
  background-color: black;
}
@media (max-width: 900px) {
  .customer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.customer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}
@media (max-width: 900px) {
  .customer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
}
.customer__wrapper-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 45%;
  gap: 1.5rem;
}
body.dark .customer__wrapper-text {
  color: white;
}
@media (max-width: 900px) {
  .customer__wrapper-text {
    width: 100%;
  }
}
.customer__wrapper-text h5 {
  font-size: 16px;
  font-weight: 600;
}
.customer__wrapper-text h1 {
  font-size: 32px;
  font-weight: 700;
}
.customer__wrapper-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 400px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 2rem;
  justify-content: start;
  align-items: start;
}
.customer__wrapper-text p:nth-child(3) i {
  background-color: #FF9900;
}
.customer__wrapper-text p:nth-child(4) i {
  background-color: #F03E3D;
}
.customer__wrapper-text p:nth-child(5) i {
  background-color: #4D8DFF;
}
.customer__wrapper-text p i {
  font-size: 24px;
  padding: 0.5rem;
  border-radius: 14px;
  color: white;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.customer__wrapper-photo {
  width: 45%;
}
@media (max-width: 900px) {
  .customer__wrapper-photo {
    width: 50%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.customer__wrapper-photo img {
  width: 100%;
}

.collaborative {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
body.dark .collaborative {
  background-color: black;
}
@media (max-width: 900px) {
  .collaborative {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.collaborative__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 900px) {
  .collaborative__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
}
.collaborative__wrapper-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 45%;
  gap: 1.5rem;
}
body.dark .collaborative__wrapper-text {
  color: white;
}
@media (max-width: 900px) {
  .collaborative__wrapper-text {
    width: 100%;
  }
}
.collaborative__wrapper-text h5 {
  font-size: 16px;
  font-weight: 600;
}
.collaborative__wrapper-text h1 {
  font-size: 32px;
  font-weight: 700;
}
.collaborative__wrapper-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.collaborative__wrapper-text p b {
  font-weight: 600;
}
.collaborative__wrapper-text p {
  max-width: 486px;
}
.collaborative__wrapper-photo {
  width: 45%;
}
@media (max-width: 900px) {
  .collaborative__wrapper-photo {
    width: 50%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.collaborative__wrapper-photo img {
  width: 100%;
}

.process {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-image: url("../images/Bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body.dark .process {
  background-color: black;
  background-image: none;
}
.process__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.process__wrapper button {
  width: 216px;
  height: 53px;
  background-color: #02897A;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin-top: 3rem;
  border-radius: 4px;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.process__wrapper button:hover {
  background-color: transparent;
  color: #02897A;
  border: 2px solid #02897A;
}
.process__wrapper-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.process__wrapper-text h1 {
  font-size: 32px;
  color: #22343D;
  font-weight: 700;
}
body.dark .process__wrapper-text h1 {
  color: white;
}
.process__wrapper-text p {
  font-size: 16px;
  font-weight: 500;
  max-width: 542px;
  color: #22343D;
}
body.dark .process__wrapper-text p {
  color: white;
}
.process__wrapper-users {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.process__wrapper-users-user {
  width: calc(50% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  min-width: 270px;
  flex-grow: 1;
}
.process__wrapper-users-user img {
  width: 90px;
  height: 90px;
}
.process__wrapper-users-user p {
  font-size: 16px;
  font-weight: 500;
  color: #2F281E;
  max-width: 274px;
  padding: 1rem;
  border-radius: 27px;
  position: relative;
  background-color: white;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
}
body.dark .process__wrapper-users-user p {
  background-color: rgb(27, 27, 27);
  color: white;
}
.process__wrapper-users-user p::before {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 20%;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
body.dark .process__wrapper-users-user p::before {
  background-color: rgb(27, 27, 27);
}