@forward "layout/footer";
@forward "layout/header";
@import "./global";
body{
    font-family: 'Poppins';
}
.hero{
    width: 100%;
    @include df(center, center);
    padding-top: 5rem;
    padding-bottom: 7rem;
    body.dark &{
        background-color: black;
    }
    @media (max-width: 900px) {
        padding-top: 1rem;
    }
    &__wrapper{
        @include df($jc: space-between);
        margin-top: 120px;
        @media (max-width: 900px) {
            @include df(center, center, column);
            gap: 5rem;
        }
        &-content{
            @include df(center, start, column);
            width: 45%;
            gap: 1.5rem;
            @media (max-width: 900px) {
                width: 100%;
                @include df(center, center, column);
                text-align: center;
            }
            h1{
                font-size: $fontSize-40px;
                max-width: 400px;
                font-weight: 700;
                line-height: 60px;
                body.dark &{
                    color: white;
                }
            }
            p{
                max-width: 450px;
                font-size: $fontSize-18px;
                font-weight: 400;
                line-height: 28px;
                body.dark &{
                    color: white;
                }
            }
            &__buttons{
                margin-top: 3rem;
                button{
                    width: 175px;
                    height: 53px;
                    border-radius: 4px;
                    border: none;
                    font-size: $fontSize-16px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    &:first-child{
                        background-color: $color-green;
                        font-weight: 700;
                        color: white;
                    }
                    &:last-child{
                        background-color: transparent;
                        border: none;
                        gap: 10px;
                        a{
                        color: $color-green;
                        font-weight: 600;
                        text-decoration: underline;
                        }
                    }
                }
            }
        }
        &-photo{
            width: 45%;
            img{
                width: 100%;
            }
            @media (max-width: 900px) {
                width: 100%;
            }
        }
    }
}
.product{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-image: url("../images/Bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    body.dark &{
        background-color: black;
        background-image: none;
    }
    &__wrapper{
        width: 100%;
        @include df($fd: column);
        gap: 3rem;
        button{
            text-transform: uppercase;
            margin-top: 3rem;
            width: 175px;
            height: 53px;
            background-color: $color-green;
            color: white;
            border: none;
            font-size: $fontSize-16px;
            font-weight: 700;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            &:hover{
                background-color: transparent;
                color: $color-green;
                border: 2px solid $color-green;
                transition: .1s linear;
                -webkit-transition: .1s linear;
                -moz-transition: .1s linear;
                -ms-transition: .1s linear;
                -o-transition: .1s linear;
}
        }
        &-text{
            font-size: $fontSize-32px;
            font-weight: 700;
            max-width: 530px;
            text-align: center;
            body.dark &{
                color: white;
            }
        }
        &-products{
            @include df(center, start);
            width: 100%;
            gap: 2rem;
            flex-wrap: wrap;
            &-card{
                @include df(center, start, column);
                width: calc(100% / 4 - 2em);
                gap: 1rem;
                min-width: 250px;
                flex-grow: 1;
                body.dark &{
                    color: white;
                }
                h5{
                    font-size: $fontSize-22px;
                    font-weight: 600;
                    body.dark &{
                        color: white;
                    }
                }
                p{
                    font-size: $fontSize-16px;
                    font-size: 400;
                    line-height: 26px;
                    body.dark &{
                        color: white;
                    }
                }
                div{
                    @include df;
                    font-size: $fontSize-24px;
                    color: white;
                    width: 50px;
                    height: 50px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    border-radius: 19px;
                    -webkit-border-radius: 19px;
                    -moz-border-radius: 19px;
                    -ms-border-radius: 19px;
                    -o-border-radius: 19px;
                    background-color: red;
                }
                &:nth-child(1){
                    div{
                    background-color: #02897A;
                    }
                }
                &:nth-child(2){
                    div{
                    background-color: #4D8DFF;
                    }
                }
                &:nth-child(3){
                    div{
                    background-color: #740A76;
                    }
                }
                &:nth-child(4) {
                    div{
                        background-color: #F03E3D;
                    }
                }
            }
        }
    }
}
.management{
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 5rem;
    body.dark &{
        background-color: black;
    }
    @media (max-width: 900px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    }
    &__wrapper{
        @include df($jc: space-between);
        width: 100%;
        @media (max-width: 900px) {
            @include df(center, center, column);
            gap: 3rem;
        }
        &-text{
            @include df(center, start, column);
            width: 45%;
            gap: 1.5rem;
            body.dark &{
                color: white;
            }
            @media (max-width: 900px) {
                width: 100%;
            }
            h5{
                font-size: $fontSize-16px;
                font-weight: 600;
            }
            h1{
                font-size: $fontSize-32px;
                font-weight: 700;
            }
            p{
                font-size: $fontSize-16px;
                font-weight: 400;
                line-height: 26px;
                b{
                    font-weight: 600;
                }
            }
            p{
                max-width: 486px;
            }
        }
        &-photo{
            width: 45%;
            @media (max-width: 900px) {
                width: 50%;
                min-width: 250px;
                @include df;
            }
            img{
                width: 100%;
            }
        }
    }
}
.customer{
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 5rem;
    body.dark &{
        background-color: black;
    }
    @media (max-width: 900px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    }
    &__wrapper{
        @include df(space-between, center, row-reverse);
        width: 100%;
        @media (max-width: 900px) {
            @include df(center, center, column);
            gap: 3rem;
        }
        &-text{
            @include df(center, start, column);
            width: 45%;
            body.dark &{
                color: white;
            }
            gap: 1.5rem;
            @media (max-width: 900px) {
                width: 100%;
            }
            h5{
                font-size: $fontSize-16px;
                font-weight: 600;
            }
            h1{
                font-size: $fontSize-32px;
                font-weight: 700;
            }
            p{
                font-size: $fontSize-16px;
                font-weight: 400;
                line-height: 26px;
                max-width: 400px;
                @include df(start, start);
                gap: 2rem;
                justify-content: start;
                align-items: start;
                &:nth-child(3){
                    i{
                        background-color: #FF9900;
                    }
                }
                &:nth-child(4){
                    i{
                        background-color: #F03E3D;
                    }
                }
                &:nth-child(5){
                    i{
                        background-color: #4D8DFF;
                    }
                }
                i{
                    font-size: $fontSize-24px;
                    padding: .5rem;
                    border-radius: 14px;
                    color: white;
                    -webkit-border-radius: 14px;
                    -moz-border-radius: 14px;
                    -ms-border-radius: 14px;
                    -o-border-radius: 14px;
}    
            }
        }
        &-photo{
            width: 45%;
            @media (max-width: 900px) {
                width: 50%;
                min-width: 250px;
                @include df;
            }
            img{
                width: 100%;
            }
        }
    }
}
.collaborative{
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 5rem;
    body.dark &{
        background-color: black;
    }
    @media (max-width: 900px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    }
    &__wrapper{
        @include df($jc: space-between);
        width: 100%;
        @media (max-width: 900px) {
            @include df(center, center, column);
            gap: 3rem;
        }
        &-text{
            @include df(center, start, column);
            width: 45%;
            body.dark &{
                color: white;
            }
            gap: 1.5rem;
            @media (max-width: 900px) {
                width: 100%;
            }
            h5{
                font-size: $fontSize-16px;
                font-weight: 600;
            }
            h1{
                font-size: $fontSize-32px;
                font-weight: 700;
            }
            p{
                font-size: $fontSize-16px;
                font-weight: 400;
                line-height: 26px;
                b{
                    font-weight: 600;
                }
            }
            p{
                max-width: 486px;
            }
        }
        &-photo{
            width: 45%;
            @media (max-width: 900px) {
                width: 50%;
                min-width: 250px;
                @include df;
            }
            img{
                width: 100%;
            }
        }
    }
}
.process{
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-image: url("../images/Bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        body.dark &{
        background-color: black;
        background-image: none;
        }
    @include df($fd: column);
    &__wrapper{
        @include df(center, center, column);
        text-align: center;
        gap: 1rem;
        button{
            width: 216px;
            height: 53px;
            background-color: $color-green;
            color: white;
            font-size: $fontSize-16px;
            font-weight: 700;
            border: none;
            margin-top: 3rem;
            border-radius: 4px;
            transition: .1s linear;
            -webkit-transition: .1s linear;
            -moz-transition: .1s linear;
            -ms-transition: .1s linear;
            -o-transition: .1s linear;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            &:hover{
                background-color: transparent;
                color: $color-green;
                border: 2px solid $color-green;
}
        }
        &-text{
            @include df(center, center, column);
            gap: 1rem;
            h1{
                font-size: $fontSize-32px;
                color: $color-lightblue;
                font-weight: 700;
                body.dark &{
                    color: white;
                }
            }
            p{
                font-size: $fontSize-16px;
                font-weight: 500;
                max-width: 542px;
                color: $color-lightblue;
                body.dark & {
                    color: white;
                }
            }
        }
        &-users{
            width: 100%;
            @include df(center, center, row);
            flex-wrap: wrap;
            gap: 1rem;
            &-user{
                width: calc(100% / 2 - 1rem);
                @include df;
                gap: 1rem;
                min-width: 270px;
                flex-grow: 1;
                img{
                    width: 90px;
                    height: 90px;
                }
                p{
                    font-size: $fontSize-16px;
                    font-weight: 500;
                    color: $pColor;
                    max-width: 274px;
                    padding: 1rem;
                    border-radius: 27px;
                    position: relative;
                    background-color: white;
                    body.dark &{
                        background-color: rgb(27, 27, 27);
                        color: white;
                    }
                    -webkit-border-radius: 27px;
                    -moz-border-radius: 27px;
                    -ms-border-radius: 27px;
                    -o-border-radius: 27px;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: -10%;
                        right: 20%;
                        width: 17px;
                        height: 17px;
                        body.dark &{
                            background-color: rgb(27, 27, 27);
                        }
                        background-color: white;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                }
            }
        }
    }
}
.contents{
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 3rem;
    body.dark &{
        background-color: black
    }
    &__wrapper{
        &-text{
            width: 100%;
            margin: 2rem;
            gap: .5rem;
            @include df(start, start, column);
            h1{
                font-size: $fontSize-34px;
                color: $color-lightblue;
                body.dark &{
                    color: white
                }
            }
            p{
                font-size: $fontSize-16px;
                font-weight: 500;
                color: $color-lightblue;
                body.dark &{
                    color: white
                }
            }
        }
        @include df(center, center, column);
        &-carousel{
            @include df(center, center, row);
            width: 100%;
            .owl-carousel{
                width: 100%;
                @include df(center, center, row);
                gap: 1rem;
                .owl-nav{
                    display: none;
                }
                .owl-dots{
                    margin-top: 2rem;
                    .owl-dot{
                        span{
                            width: 16px;
                            height: 16px;
                            background-color: #EFEFEF;
                        }
                        &.active{
                            span{
                            background-color: $color-green !important;
                            }
                        }
                    }
                }
                .item{
                    @include df(start,start,column);
                    gap: .5rem;
                    max-width: 350px;
                    height: 360px;
                    border: 1px solid #9d9d9d;
                    padding-bottom: 1rem;
                    @media (max-width: 550px) {
                        width: 100%;
                        max-width: 100%;
                    }
                    overflow: hidden;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    &:hover h4{
                        color: $color-green;
                        transition: .1s linear;
                        -webkit-transition: .1s linear;
                        -moz-transition: .1s linear;
                        -ms-transition: .1s linear;
                        -o-transition: .1s linear;
                    }
                    p{
                        margin-left: 24px;
                        font-size: $fontSize-16px;
                        font-weight: 400;
                        color: $color-lightblue;
                        body.dark &{
                            color:white;
                        }
                        b{
                            font-weight: 700;
                        }
                    }
                    h4{
                        margin-left: 24px;
                        font-size: $fontSize-24px;
                        font-weight: 700;
                        color: $color-lightblue;
                        body.dark &{
                            color:white;
                        }
                    }
                }
            }
        }
    }
}
.price{
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    body.dark & {
        background-color: black;
    }
    &__wrapper{
        @include df(center, center, column);
        gap: 2rem;
        &-text{
        text-align: center;
        h1{
            font-size: $fontSize-34px;
            font-weight: 700;
            color: $color-lightblue;
        }
        p{
            font-size: $fontSize-16px;
            font-weight: 500;
            color: $color-lightblue
        }
        body.dark &{
            h1{
            color: white !important;
            }
            p{
            color: white !important;
            }
        }
        }        
        &-table{
            @include df;
            width: 100%;
            flex-wrap: wrap;
            gap: 2rem;
            &-card{
                @include df(center,center,column);
                width: calc(100% / 3 - 2rem);
                min-width: 275px;
                gap: 1rem;
                max-width: 322px;
                padding: 3rem;
                cursor: pointer;
                border-radius: 4;
                color: $color-lightblue;
                border-radius: 4px;
                transition: .1s linear;
                -webkit-transition: .1s linear;
                -moz-transition: .1s linear;
                -ms-transition: .1s linear;
                -o-transition: .1s linear;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                @media (max-width: 550px) {
                    max-width: 100%;
                    width: 100%;
                }
                body.dark &{
                    color: white;
                }
                body.dark &:hover{
                    color: black;
                    button{
                        background-color: white;
                        color: black;
                    }
                    .price__wrapper-table-card-price{
                        h1{
                            color: black !important;
                        }
                        div{
                            p{
                                color: black;
                            }
                        }
                    }
                }
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
                body.dark & {
                    box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.25);
                }
                &:hover{
                    background-color: $color-green;
                    color: white;
                    button{
                        background-color: white;
                        color: $color-green;
                    }
                    .price__wrapper-table-card-price{
                        h1{
                            color: white !important;
                        }
                        div{
                            p{
                                color: white;
                            }
                        }
                    }
                }
                h1{
                    font-size: $fontSize-24px;
                    font-weight: 700;
                }
                div{
                    p{
                        font-size: $fontSize-16px;
                        font-weight: 500;
                        body.dark &{
                            color: white;
                        }
                        &:nth-child(2){
                            font-weight: 400;
                        }
                    }
                }
                &-price{
                    @include df;
                    gap: 5px;
                    h1{
                        font-size: $fontSize-76px;
                        font-weight: 700;
                        color: $color-green;
                        body.dark &{
                            color: white;
                        }
                    }
                    p{
                        body.dark &{
                            color: white;
                        }
                        &:first-child{
                            font-size: $fontSize-24px;
                            font-weight: 700;
                            color: $color-green;
                        }
                        &:last-child{
                            font-size: $fontSize-16px;
                            font-weight: 400;
                            color: $color-lightblue;
                        }
                    }
                }
                button{
                    width: 140px;
                    height: 44px;
                    color: white;
                    margin-top: 2rem;
                    background-color: $color-green;
                    border: none;
                    font-size: $fontSize-18px;
                    font-weight: 600;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
}
            }
        }
    }
}
.clients{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;
    @include df(center, center, column);
    body.dark &{
        background-color: black
    }
    &__wrapper{
        @include df(center, center, column);
        width: 100%;
        gap: 2rem;
        .getthis__wrapper{
            @include df;
            flex-wrap: wrap;
            width: 85%;
            margin-top: 7.5rem;
            border-radius: 32px;
            padding: 1rem;
            background-color: $color-green;
            -webkit-border-radius: 32px;
            -moz-border-radius: 32px;
            -ms-border-radius: 32px;
            -o-border-radius: 32px;
            @media (max-width: 900px) {
                width: 100%;
                padding: 1rem;
                @include df(start, start, column);
                }
            &-text{
                width: 65%;
                max-width: 510px;
                gap: 7rem;
                @media (max-width: 900px) {
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    gap: 2rem;
                }
                min-width: 250px;
                @include df(space-between, start, column);
                h1{
                    font-size: $fontSize-32px;
                    font-weight: 600;
                    max-width: 510px;
                    color: white;
                    @media (max-width: 900px) {
                        font-size: $fontSize-20px;
                    }
                }
                button{
                    width: 150px;
                    height: 50px;
                    background-color: white;
                    color: $color-green;
                    border: none;
                    font-size: $fontSize-20px;
                    font-weight: 600;
                    color: $color-green;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
}
            }
            &-photo{
                width: 35%;
                @media (max-width: 900px) {
                    width: 100%;
                }
                img{
                    width: 100%;
                }
            }
        }
        &-text{
            width: 100%;
            @media (max-width: 550px) {
                text-align: center;
            }
            body.dark &{
                color: white
            }
        }
        &-content{
            @include df(center, center, row);
            width: 100%;
            gap: 3rem;
            flex-wrap: wrap;
            &-client{
                @include df(start,start,column);
                width: calc(100% / 3 - 1rem);
                min-width: 250px;
                @media (max-width: 550px) {
                    width: 100%;
                }
                padding: 1.5rem;
                max-width: 327px;
                gap: 1rem;
                border-radius: 4px;
                border: 1px solid #DEDEDE;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                img{
                    width: 100px;
                    height: 20px;
                }
                p{
                    font-size: $fontSize-16px;
                    color: #737373;
                    letter-spacing: .2px;
                    body.dark &{
                        color: white;
                    }
                }
                &-about{
                    @include df;
                    gap: 1rem;
                    img{
                        width: 50px;
                        height: 50px;
                    }
                    p{
                        &:first-child{
                            font-size: $fontSize-16px;
                            color: $color-green !important;
                            font-weight: 600;
                        }
                        &:last-child{
                            font-size: $fontSize-14px;
                            color: #252B42;
                            font-weight: 400;
                            body.dark &{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}