*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
    outline: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}