$color-darkblue: #173A56;
$color-lightblue: #22343D;
$color-green: #02897A;
$color-lightgreen: #EDFFFC;
$color-lightgrey: #BCD0E5;
$color-lightergrey: #F3F3F3;
$fontSize-76px: 76px;
$fontSize-40px: 40px;
$fontSize-34px: 34px;
$fontSize-32px: 32px;
$fontSize-30px: 30px;
$fontSize-24px: 24px;
$fontSize-22px: 22px;
$fontSize-18px: 18px;
$fontSize-16px: 16px;
$pColor: #2F281E;
$mt: 120px;
header.shrink{
    $mt: 30px !important;
}